@model Department


<h1 class="alert alert-danger text-center display-3" style="color:darkred" >
    ARE YOU SURE YOU WANT TO DELETE THIS Department?
</h1>


<dl class="row">

    <dt class="col-2">Id</dt>
    <dd class="col-15">@Model.Id</dd>

    <dt class="col-2">Name</dt>
    <dd class="col-15">@Model.Name</dd>
    
    <dt class="col-2">Description</dt>
    <dd class="col-15">@Model.Description</dd>
   

</dl>

<form method="post" asp-controller="Departments" asp-action="DeleteCurrent">
    <input type="hidden" asp-for="Id"/>
    <button type="submit" class="btn btn-danger">Confirme Delete</button>
</form>
<a asp-controller="Departments"
   asp-action="GetIndexView">
    Back To Departments
</a>