<h1 style="background-color:cyan;
    color:blue">
        Welcome to Sunrise Company!
</h1>

<a  asp-controller="Employees" 
    asp-action="GetIndexView"
    class="btn btn-primary col-4"
    mt-10>

            Go to Employees  
</a>



<a  asp-controller="Departments"
    asp-action="GetIndexView"
    class="btn btn-primary col-4"
    mt-10
>
    Go to Departments
</a>

<a asp-controller="Branches"
   asp-action="Index"
   class="btn btn-primary col-4"
   mt-10>
    Go to Branches
</a>

<a asp-controller="Branches"
   asp-action="Create"
   class="btn btn-primary col-4"
   mt-10>
   Create Branches

</a>

<br />

<i class="fas fa-list"></i>

<br />

<i class="fas fa-trash"></i>

<br />

<i class="fas fa-pencil"></i>